# Server Configuration
PORT=5001

# MongoDB Connection
MONGODB_URI=mongodb+srv://eliteadmin:vwNgyGly1PKqC72V@cluster0.5zj6yth.mongodb.net/elite-connect?appName=Cluster0 
# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000

# World App Configuration
WORLD_APP_ID=app_486e187afe7bc69a19456a3fa901a162
